.Activities_section{
    margin: 130px 30px;
}

.Activities_heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 0px;
    text-align: center;
}

.Activities_heading>h2{
    color: #FFF;
    font-family: Orbitron;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Activities_heading>h2>span{
    background: var(--2, linear-gradient(158deg, #F86CF8 0%, #64CEF5 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Orbitron;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Activities_heading > p{
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 561.516px;
    transform: rotate(0.26deg);
}

.Activities_video{
    display: grid;
    justify-items: center;
    position: relative;
}

.Activities_video :nth-child(2){
    position: absolute;
    top: 50%;
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .Activities_video :nth-child(1){
        width: 700px;
    }

    .Activities_video :nth-child(2){
        width: 50px;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .Activities_heading > p{
        width: 100%;
    }

    .Activities_video :nth-child(1){
        width: 300px;
    }

    .Activities_video :nth-child(2){
        width: 30px;
    }
}

/* For small devices */
@media screen and (max-width: 475px) {
    .Activities_heading > p{
        width: 100%;
    }

    .Activities_video :nth-child(1){
        width: 300px;
    }

    .Activities_video :nth-child(2){
        width: 30px;
    }
}